<!DOCTYPE html>
<html lang="en">

<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="../static/css/index.css" rel="stylesheet">
    <script src="../static/js/index.js" type="text/javascript"></script>
</head>

<body>

    <div class="header">
        <div class="header-top">
            <div class="file">文件</div>
            <div class="tool">工具</div>
        </div>
        <div class="header-bottom">
            <a href="./index.html" class="active">模型</a>
            <a href="./mesh.html">网格</a>
        </div>
    </div>

    <div class="content">
        <div class="tools">
            <h1 style="margin: 0 auto; text-align: center;font-size:100%">tools</h1>
        </div>
        <div class="tool_bottom">
            <div class="tool_1">
                <div>
                    <button  id="smallblock" onclick="myFunction()" type="button" class="smallblock domain"></button>
                    <p class="textblock">domain</p>
                </div>
                <div>
                    <button type="button" class="smallblock excavate"></button>
                    <p class="textblock">excavate</p>
                </div>
                <div>
                    <button type="button" class="smallblock fracture"></button>
                    <p class="textblock">fracture</p>
                </div>
            </div>
            <div class="tool_2">
                <div>
                    <button type="button" class="smallblock line"></button>
                    <p class="textblock">line</p>
                </div>
                <div>
                    <button type="button" class="smallblock polyline"></button>
                    <p class="textblock">polyline</p>
                </div>
                <div>
                    <button type="button" class="smallblock polygon"></button>
                    <p class="textblock">polygon</p>
                </div>
                <div>
                    <button type="button" class="smallblock ellipse"></button>
                    <p class="textblock">ellipse</p>
                </div>
                <div>
                    <button type="button" class="smallblock randline"></button>
                    <p class="textblock">randline</p>
                </div>
                <button type="button" class="smallblock"></button>
                <button type="button" class="smallblock"></button>
            </div>
            <div class="tool_3">
                <div>
                    <button type="button" class="smallblock build"></button>
                    <p class="textblock">build</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="data">
            <div class="data-top">
                data
            </div>
            <div class="data-content">
                <div class="model">model</div>
                <div class="model-content"></div>
            </div>
            <div class="data-foot">
                <div class="data-info">datainfo</div>
                <div class="data-info-content"></div>
            </div>
        </div>
        <div class="parameter">
            <div class="parameter-top">
                parameter
            </div>
            <div class="parameter-content">

            </div>
        </div>
        <div class="preview">
            <div class="preview-top">preview</div>
            <div class="preview-content"></div>
        </div>
    </div>

</body>

</html>